
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner{
  position: relative;	
  width: 300px;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

img{
  position: absolute;
  left:0;
  top:0;
  width: 300px;
  height: 600px;
  display: none;
}

.bg {
  position: absolute;
  width: 300px;
  height: 630px;
  top: 0;
  transform: translateY(0px)
}

.small_girl {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  transform: scale(0.7) rotate(-3deg) translate(-110px, -120px);
}

.blue_shape {
  transform: translateX(-300px);
}

.f1_t1 {
  position: absolute;
  width: 142px;
  height: 18px;
  top: 16px;
  left: 16px;
}

.f1_t2 {
  position: absolute;
  width: 113px;
  height: 20px;
  top: 40px;
  left: 16px;
}

.f1_t3 {
  position: absolute;
  width: 131px;
  height: 25px;
  top: 67px;
  left: 16px;
}

.f1_t {
  transform: rotateX(90deg);
  opacity: 0;
}

.vanaf {
  position: absolute;
  width: 59px;
  height: 16px;
  top: 13px;
  left: 15px;
}

.big_price {
  position: absolute;
  width: 58px;
  height: 36px;
  top: 13px;
  left: 81px;
}

.small_price {
  position: absolute;
  width: 30px;
  height: 19px;
  top: 13px;
  left: 130px;
}

.per {
  position: absolute;
  width: 124px;
  height: 16px;
  top: 54px;
  left: 15px;
}

.skipas_1 {
  position: absolute;
  width: 141px;
  height: 11px;
  top: 73px;
  left: 15px;
}

.skipas_2 {
  position: absolute;
  width: 97px;
  height: 10px;
  top: 88px;
  left: 15px;
}

.f2_t {
  transform: rotateX(90deg);
  transform-origin: top center;
  opacity: 0;
}

.logo {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 541px;
  left: 241px;
  transform: rotateY(90deg);
  /* transform-origin: bottom left; */
}

.logo_first {
  position: absolute;
  width: 57px;
  height: 57px;
  bottom: 0;
  right: 0;
  background-color: grey;
  transform: translateZ(100px);
  display: none;
  /* transform-origin: bottom left; */
}

.cta {
  transform: translateY(40px) scale(1);
  transform-origin: 150px 502px;
  opacity: 0;
}